{% extends "_partials/body.html.twig" %}
{% block title %}- Update member{% endblock %}
{% block breadcrumb_link %}
    <li class="breadcrumb-item">
        <a href="{{ path('admin_member') }}" class="breadcrumb-link">Member</a>
    </li>
{% endblock %}
{% block content %}
    <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>
        <div class='card'>
            <h5 class='card-header'>Update member</h5>
            <div class='card-body'>
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}